@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left:20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
  cursor: auto;
}

.panel.active h3 {
  opacity: 1;
}


/* boost container width and only show 2 panels instead of 3 if screen is really small with media query */
@media(max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4) /* if add more panels, add more nth */ {
    display: none;
  }

}
